@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-image: url('https://cdn.discordapp.com/attachments/771652380982378508/771655046831538176/pb1f0byp75b41.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  margin: 0;
	padding: 10px;
}

.panel-container {
  display: flex;
	justify-content: space-between;
	align-items: center;
	position: static;
	opacity: 0.2;
  width: 95vw;
  height: 20vh;
  background-color: black;
  padding: 0 10px;
  border-radius: 50px;
	transition: 0.4s;
}

.panel-container:hover {
	opacity: 1;
	transition: 0.4s;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  position: relative;
  height: 80%;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px 10px;
  transition: flex 0.35s ease-in 0.1s;
}

.panel h3 {
  font-family: 'Muli', sans-serif;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.darker-pic {
  font-family: 'Muli', sans-serif;
  color: white;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.6s;
}


/* The three classes listed below are made to try to change the body background later based on which element is currently in possession of the '.active' class. Need to learn more before I can figure this out. */


.journey {
  background-image: url('https://cdn.discordapp.com/attachments/771652380982378508/771655046831538176/pb1f0byp75b41.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.monastery {
  background-image: url('https://cdn.discordapp.com/attachments/771652380982378508/771652613724831744/dmitry-zaviyalov-japanese-village-12.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.marketplace {
  background-image: url('https://cdn.discordapp.com/attachments/771652380982378508/771656410814480394/FFXIV_40_Mediakit_20170501_014.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}






